/*TEXTBOXES*/
.l-6 {
	width: 50% !important;
}

.custom-separator {
	display: block;
	/* border-top: 1px solid #CCC; */
	/* border-bottom: 1px solid #FFF; */
	height: 0;
	margin: 5px 0;
}


.separator-width {
	margin-left: -1.3rem !important;
	margin-right: -1.3rem !important;
}

/*LABEL STYLES*/
.laravel-fnt {
	color: #f4645f !important;
}


.welcome-label {
	margin-left: 52.1rem;
}

.label-ln-ht-1 {
	line-height: 0.4;
}

.icon-mrgn {
	margin-left: 1rem;
}

.icon-notif {
	margin-left: 81rem;
	line-height: 0rem;
	margin-top: -0.5rem;
	color: #337ab7
}

.err-icn-lheight {
	line-height: 0rem !important;
}

.rq-lbl {
	background-color: #f4726d;
	width: 11%;
	margin-left: -1.3rem;
	margin-top: -0.4rem;
	border-bottom-right-radius: 3px;
}

.label-mrgn-top {
	margin-top: -15px !important;
}

.label-style-header {
	color: white;
	font-size: 30;
}

.label-title {
	line-height: 0;
}

.error-Message {
	color: #ce0000;
}

.label-inblock {
	display: inline-block;
}

.img-margin {
	margin-left: -1.5rem;
}

.backcolor {
	background-color: #404040;
}

.label-header {
	color: WHITE;
	line-height: 2.5;
}

.label-size-20 {
	font-size: 20;
}

.h1-border {
	border-bottom-style: none;
	border-top-style: Solid;
	border-top-width: 2px;
	border-top-color: #ddd;
}

.h1-border-2 {
	border-bottom: 6px solid #404040;
}

.h1-border-3 {
	border-bottom: 2px solid #404040;
}

.h1-margin-top-style-1 {
	margin-top: -30px;
}

.h1-style-login {
	margin-left: -21;
	margin-top: -21 !important;
	width: 107.6%;
	background-color: #333;
	color: White !important;
	line-height: 0 !important;
	font-size: 14;
	border-bottom-style: none;
}

.label-weight-bold {
	font-weight: Bold;
}

.label-black {
	color: #333;
}

.label-white {
	color: White;
}

.label-mg-left {
	margin-left: 1rem;
}


/*INPUT STYLES*/
.lHeight-1 {
	line-height: 1 !important;
}

.mTop-07 {
	margin-top: 0.7rem;
}

.tb-width-20 {
	width: 20%;
}

.mrgin-07 {
	margin: 0 0 0.7rem 0 !important;
}

.date-Icon {
	background: #FFFFFF url(calendar-icon.png) no-repeat right 4px center;
}

.drp-element {
    display: block;
    padding: 6px 30px 6px 6px;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    color: #444444;
    width: 250px;
    height: 31px;
    font-size: 0.9em;
    border: 1px solid #FFFFFF;
    background: #FFFFFF url(calendar-icon.png) no-repeat right 4px center;
    background-size: 24px 24px;
    cursor: pointer;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow:    inset 0px 1px 3px 0px rgba(0, 0, 0, 0.65);
    box-shadow:         inset 0px 1px 3px 0px rgba(0, 0, 0, 0.65);
}

/*PANEL STYLES*/

.modal-title {
	margin-top: -1.9rem !important;
	margin-left: -1.9rem;
	margin-right: -1.9rem;
	background-color: white;
	border-color: #ddd;
	margin-bottom: 2.8rem;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.title-panel {
	background-color: #f4726d !important;
	border-color: #f4726d;
}

.header-2 {
	background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.admin-topbar {
	background-image: linear-gradient(to bottom,#f2dede 0,#ebcccc 100%);
}

.panel-footer {
	margin-bottom: -1.3rem;
	margin-left: -1.3rem;
	margin-right: -1.3rem;
}

.panel-hdr-border {
	border-color: #f2dede;
}

.header {
	background-color: #f4645f;
	border-color: #f4645f;
}

.topBar-style {
	height: 55px;
}

.panel-body {
	background-color: White;
}

.panel-style-login {
	background-color: White;
}

.li-background-none {
	background-color: transparent !important;
}

.error-Panel {
	background-color: #fff5f5;
	border-color: #d9534f;
}

.info-panel-1 {
	border-style: none;
	border-right-style: inset;
}

.info-panel-2 {
	border-style: none;
	border-right-style: none;
}


/*LINK STYLES*/
.h1-uline {
	text-decoration: none;
	font-size: 26;
}

a.user {
	text-decoration: underline;
	color: White;
}

a.notif:hover {
	display: inline-block;
	width: 107.95%;
	background-color: #e7ebf2;
	padding-left: 10px;
}
a.sn-bg {
	background-color: #c4c4c4;
}
a.cnt:first-child {
	border-top-style: solid;
	border-top-color: #ddd;
}

a.cnt {
	width: 107.95%;
	display: inline-block;
	margin-left: -30.35px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	border-bottom-width: 1px;
}

.homepage-link {
	margin-top: -1rem !important;
	font-size: 13px !important; 
}

.mleft-2 {
	margin-left: 2rem !important;
}

.ul-margin {
	margin-top: 2rem;
	margin-bottom: -3rem;
	margin-left: 0.375rem;
}


/*CUSTOM PUSH*/

.c-pull-1 {
	position: relative;
	right: 12.5%;
	left: auto;
}

/*BUTTON STYLES*/

.login-btn {
	background: #ad4844;
	color: White;
}

.login-btn:hover {
	background: #fff;
	color: #f4645f;
	opacity: 1;
}

.title-button {
	background-color: transparent;
	color: White;
}

.button-tiny {
padding-top: 0.4rem !important;
padding-bottom: 0.3rem  !important;
padding-left: 1.25rem !important;
font-size: 16px !important;
margin-top: -1rem !important;
}

.button-bg-1 {
	background-color: #f0443e;
}

.button-bg:focus {
	color: Black !important;
}

.button-bg-sb {
	background-color: White !important;
}

.title-button:hover {
	background-color: White !important;
	color: #f4726d !important;
}




/* MARGINS */



.panel-border {
	border-color: #333333;
	border-width: 2px;
}

.custom-panel-1 {
	height: 3px;
}

.panel-header {
	margin-top: -1.4rem !important;
	margin-left: -1.3rem;
	margin-right: -1.3rem;
	background-color: #f5f5f5;
	border-color: #ddd;
	margin-bottom: 1.8rem;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
	color: White !important;
}

.panel-header-admin {
	margin-top: -1.4rem !important;
	margin-left: -1.3rem;
	margin-right: -1.3rem;
	background-color:  White;
	border-color: #ddd;
	margin-bottom: 1.8rem;
	border-bottom-right-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.cus-pan-hd-3 {
	height: 3rem;
}
/*FONT STYLES - font family, color, size*/

.size-30 {
	font-size: 30;
}

.size-22 {
	font-size: 22px !important;
}

.size-28 {
	font-size: 28;
}

.size-26 {
	font-size: 26;
}

.size-24 {
	font-size: 24px !important;
}

.size-18 {
	font-size: 18px !important;
}

.size-17 {
	font-size: 17px !important;
}

.size-16 {
	font-size: 16px !important;
}

.size-14 {
	font-size: 14px !important;
}

.size-13 {
	font-size: 13px !important;
}

.size-12 {
	font-size: 12px !important;
}

.font-style-segoe {
	font-family: Segoe Ui !important;
}

.font-style-calibri {
	font-family: calibri;
}

.text-area-row {
	rows: 5 !important;
}

.font-size-12 {
	font-size: 12;
}

.font-color-white {
	color: White;
}

.size-60 {
	font-size: 60px !important;
}

.size-40 {
	font-size: 40px !important;
}

.size-38 {
	font-size: 38px !important;
}

.text-size-30 {
	font-size: 30px !important;
}


.text-size-28 {
	font-size: 28 !important;
}

.text-size-26 {
	font-size: 26 !important;
}

.text-size-24 {
	font-size: 24;
}

.text-size-22 {
	font-size: 22;
}

.text-size-20 {
	font-size: 20px !important;
}

.text-size-18 {
	font-size: 18;
}

.text-size-16 {
	font-size: 16;
}

.text-size-15 {
	font-size: 15;
}

.text-size-14 {
	font-size: 14 !important;
}

.text-size-12 {
	font-size: 12 !important;
}

.text-center {
	text-align: center;
}

.line-height-2 {
	line-height: 2;
}

.line-height-3 {
	line-height: 2.4;
}

.text-lineHeight {
	line-height: 2.5;
}

.text-height-3 {
	height: 3rem !important;
}

.link-lineHeight {
	line-height: 3;
}


input[type=search]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

input[type="search"], textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-color: white;
  font-family: inherit;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  border-color: #cccccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875rem;
  margin: 0 0 1rem 0;
  padding: 0.5rem;
  height: 1.3125rem;
  width: 100%;
  margin-right: 3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

input[type=text]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}


/* TABLES */
.table-format {
    border-top-style: solid; 
    border-top-width: 1px;
    border-bottom-color: #ddd;
}

.badge {
	background-color: #337ab7;
	padding-left: 5px !important;
	padding-right: 5px !important;
	border-radius: 5px !important;
	color: White !important;
	margin-left: 50px !important;
}


/* DIVs */

.mainpage-container {
	background-color: white;
	margin-top: -3.4rem;
	padding-bottom: 7rem;
}